* {
    -fx-base: #232323;
    -fx-font-family: 'Miramonte', 'Tahoma', 'Arial';
}

.main-title {
    -fx-font-weight: bold;
    -fx-font-size: 20pt;
}

.content-text {
    -fx-font-size: 14pt;
    -fx-fill: white;
}

.country-title {
    -fx-font-size: 14pt;
}

.context-menu {
    -fx-fill: white;
    -fx-font-size: 12pt;
    -fx-background-color: derive(-fx-base, 40%)
}

.menu-item:focused {
    -fx-background-color: #b0d9ff;
    -fx-fill: dimgrey;
}
