* {
    -fx-base: #232323;
    -fx-font-family: 'Miramonte', 'Tahoma', 'Arial';
}

.main-title {
    -fx-font-weight: bold;
    -fx-font-size: 20pt;
}

.content-text {
    -fx-font-size: 14pt;
    -fx-fill: white;
}

.country-title {
    -fx-font-size: 14pt;
}
